<div class="app-container">
  <p-sidebar [(visible)]="sidebarVisible">
    <div class="navbar-vertical">
      <div class="logo-container">
      </div>
      <p-panelMenu [model]="menuItems"></p-panelMenu>
      <div class="logout-container">
        <button pButton pRipple label="Logout" icon="pi pi-sign-out" class="p-button-danger" routerLink="/login"></button>
      </div>
    </div>
  </p-sidebar>
  <div class="content">
    <button class="floating-button" (click)="sidebarVisible = true">
      <i class="pi pi-bars"></i>
    </button>
  </div>
  </div> 

  