<div class="login-page">
    <div class="login-container">
      <p-card header="Inicio de sesion" styleClass="ui-card-shadow">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="p-fluid">
            <div class="p-field">
              <label for="email">Correo</label>
              <input id="email" type="email" pInputText [(ngModel)]="email" name="email" required autocomplete="off">
            </div>
            <div class="p-field">
              <label for="password">Contraseña</label>
              <p-password id="password" name="password" [(ngModel)]="password" [feedback]="false" required autocomplete="off"></p-password>
            </div>
            <div class="p-field">
              <button pButton type="submit" label="Ingresar" class="p-button-rounded p-button-primary" [disabled]="!loginForm.valid" routerLink="/home"></button>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
  